#pageTitle {
  color: green;
  font-size: 80px;
  font-family: "OCR A Std" ;
  text-align: center;
  margin-top: -0.2%;
  margin-bottom: -0.2%;
}

body {
  background-color: transparent;
  background-image: radial-gradient(IndianRed, #952E2E);
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: transparent;
  padding: 10px;
  padding-left:20px;
}

.grid-item {

  padding: 20px;
  word-wrap: break-word;
  font-size: 30px;
  font-color: green;
  text-align: center;
  font-family: "OCR A Std";
  max-width: 100%;
}

img {
    width: 100%;
    max-width: 350px
}

::marker {
  color: transparent;
}

a {
  color: Gold;
  word-wrap: break-word;
  font-size: .75vw;
}

p {
    color: burgundy;
    font-size:30px;
}

.glow, .episode, #pageTitle {
  color: White;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px White, 0 0 20px White, 0 0 30px Chartreuse, 0 0 40px Chartreuse, 0 0 50px Chartreuse, 0 0 60px Chartreuse, 0 0 70px Chartreuse;
  }

  to {
    text-shadow: 0 0 20px White, 0 0 30px Chartreuse, 0 0 40px Chartreuse, 0 0 50px Chartreuse, 0 0 60px Chartreuse, 0 0 70px Chartreuse, 0 0 80px Chartreuse;
  }
